
@{
    ViewData["Title"] = "";
}
@model CoursViewModel;
@using DataModels; 

<h1>@Model.courseName</h1>
@foreach (ThemeModel theme in Model.themes)
{
    <li class="student_kurs">
        <p>@Html.ActionLink(theme.themeName, "Theme", new { themeid = theme.themeId }, new { themename = theme.themeName })</p>
    </li>
}