
@{
    ViewData["Title"] = "View";
}
@model AllCoursesViewModel;
<h1>Найти курс по имени:</h1>
<form asp-action="SearchSourse" method="post">
    <input asp-for="searchString" type="text" />
    <span asp-validation-for="searchString"></span><br>
    <button type="submit" class="btn btn-primary" asp-controller="MainMenu" asp-action="SearchCourse">Найти курс</button>
</form>

<h1>Все курсы: </h1>
<ul class="my_padding">
    @foreach (CourseModel course in Model.courses)
    {
        <li class="courses">
            <p class="size_text_course site_padding">@Html.ActionLink(course.name, "Course", new { courseid = course.id, coursename = course.name })</p>
        </li>
    }
</ul>