
@model CourseViewModel;
@using DataModels;
@{
    ViewData["Title"] = Model.courseName;
}
<h1>@Model.courseName</h1>
@foreach (ThemeModel theme in Model.themes)
{
    <li class="student_kurs">
        <p>@Html.ActionLink(theme.themeName, "Theme", new { themeid = theme.themeId, themename = theme.themeName })</p>
    </li>
}