
@{
    ViewData["Title"] = "Dictionary";
}

@model DictionaryViewModel;

<h1>Словарь</h1>
<table alight="center" class="site_padding size_text_courses not_select_text">
    @{
        foreach (PairModel pair in Model.Pairs)
        {
            <tr>
                <td>@pair.Original</td>
                <td>@pair.Translation</td>
            </tr>
        }
    }
</table>