@using DataModels;
@model MainMenuViewModel;
@{
    ViewData["Title"] = "Главная страница";
}

<p>
    <h1 align="center"> Главная страница </h1>
</p>
<p>
    <h1 align="center">Список курсов, на которые Вы подписаны:</h1>
</p>
@*Проверка если сутдент подписан на курс, то вывести его название*@
@*При нажатии на курс нужно перейти на страницу этого курса*@
<ul>
    @foreach (Cours cours in Model.Courses)
    {
        <li class="student_kurs">
            <p>Уникальный номер курса: @cours.CourseId</p>
            <p>@cours.CourseName</p>
        </li>
    }
</ul>

