
@{
    ViewData["Title"] = "StudentMM";
}

    <p>
        <h1 align ="center"> Главная страница </h1>
    </p>
    <p>
        <h1 align ="center">Список курсов, на которые Вы подписаны:</h1>
    </p>
    @*Проверка если сутдент подписан на курс, то вывести его название*@
    @*При нажатии на курс нужно перейти на страницу этого курса*@
    <ul>
        <li class="student_kurs">
            Курс 1
        </li>
        <li class="student_kurs">
            Курс 2
        </li>
        <li class="student_kurs">
            Курс 3
        </li>
    </ul>
