@using DataModels;
@model MainMenuViewModel;
@{
    ViewData["Title"] = "Главная страница";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ForeignStudyGrad</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="body">
        Главная страница
        Список курсов, на которые Вы подписаны:
        <ul>
            @foreach (Cours cours in Model.Courses)
            {
                <li>
                    <p>Уникальный номер курса: @cours.CourseId</p>
                    <p>@cours.CourseName</p>
                </li>
            }
        </ul>
    </div>
</body>
</html>