@using DataModels;
@model MMIndexViewModel;
@{
    ViewData["Title"] = "Главная страница";
}
<p class="size_title_course site_padding">
    Список курсов, на которые Вы подписаны:
</p>
@*Проверка если сутдент подписан на курс, то вывести его название*@
@*При нажатии на курс нужно перейти на страницу этого курса*@
<ul class="my_padding">
    @foreach (CourseModel course in Model.Courses)
    {
    <li class="courses">
        <p class="size_text_course site_padding">@Html.ActionLink(course.name, "Course", new { courseid = course.id, coursename = course.name })</p>
    </li>
    }
</ul>

