
@{
    ViewData["Title"] = "Theme";
}

@*Вывод названия темы*@
<p><h1 align="center">Название темы: </h1></p>
<ul class="my_padding">
    <li class="courses">@*Вывод ссылок на лекции по теме*@
        <p class="site_padding">Лекция 1</p>
        <p class="site_padding">Лекция 2</p>
    </li>
    <li class="courses">@*вывод ссылок на тесты по теме*@
        <p class="site_padding">Тест 1</p>
        <p class="site_padding">Тест 2</p>
    </li>
</ul>