
@using DataModels;
@model ThemeViewModel;
@{
    ViewData["Title"] = Model.themename;
}

<h3 align="center">Название темы: @Model.themename</h3>
<ul class="my_padding">
    <li><p class="size_title_course site_padding">Доступные лекции по теме:</p></li>
    <li class="courses size_text_course ">
        <ul>
            @foreach (LectureModel lecture in Model.lectures)
            {
                <li>
                    <p class=" site_padding"><a href="@lecture.lecturefile">@lecture.lecturename</a></p>
                </li>
                <li>
                    @*Просмотр лекииц на другой странице*@
                    <p class=" site_padding">Просмотреть</p>
                </li>
                <li>
                    @*Скачивание файла с лекцией*@
                    <p class="site_padding">Скачать</p>
                </li>
            }
        </ul>
    </li>
        <li><p class="size_title_course site_padding">Доступные тесты по теме:</p></li>
        <li class="courses">
           
                @foreach (TestModel test in Model.tests)
                {
                     <p class="size_text_course site_padding">@Html.ActionLink(test.testname, "Test", new { testid = test.testid }, new { testname = test.testname })</p>
                }
            
        </li>
    </ul>