<<<<<<< HEAD
@using DataModels;
@model ThemeViewModel;
@{
    ViewData["Title"] = Model.themename;
}

<h3 align="center">Название темы: @Model.themename</h3>
<ul class="my_padding">
    <li><p class="size_title_course site_padding">Доступные лекции по теме:</p></li>
    <li class="courses">
        @foreach (LectureModel lecture in Model.lectures)
        {

            <p class=" size_text_course site_padding"><a href="@lecture.lecturefile">@lecture.lectureid</a></p>

        }
    </li>
    <li><p class="size_title_course site_padding">Доступные тесты по теме:</p></li>
    <li class="courses">
        @foreach (TestModel test in Model.tests)
        {

            <p class="size_text_course site_padding">@Html.ActionLink(test.testname, "Test", new { testid = test.testid }, new { testname = test.testname })</p>

        }
</li>
</ul>