
@using DataModels;
@model ThemeViewModel;
@{
    ViewData["Title"] = Model.themename;
}

<h3 align="center">Название темы: @Model.themename</h3>
<ul class="my_padding">
    <li><p class="size_title_course site_padding">Доступные лекции по теме:</p></li>
    <li class="courses size_text_course ">
        @* <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">*@
        <table class="table table-striped">
            @foreach (LectureModel lecture in Model.lectures)
            {
                <tr>
                    <td>
                        <a href="@lecture.lecturefile">@lecture.lecturename</a>
                    </td>
                    @*Просмотр лекицb на другой странице*@
                <td class="po-right">
                    <a href="file:///C:/Users/%D0%92%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/Google%20%D0%94%D0%B8%D1%81%D0%BA/%D0%A3%D1%87%D0%B5%D0%B1%D0%B0/3%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%92%D0%B5%D0%B1/%D0%A3%D1%87%D0%B5%D0%B1%D0%BD%D0%BE%D0%B5%20%D0%BF%D0%BE%D1%81%D0%BE%D0%B1%D0%B8%D0%B5/Uchebnoe_poobie_webprog.pdf">Просмотреть</a>
                </td>
                </tr>
    }
            </table>
        @* </div>
        *@
    </li>
        <li><p class="size_title_course site_padding">Доступные тесты по теме:</p></li>
        <li class="courses">
           
                @foreach (TestModel test in Model.tests)
                {
                     <p class="size_text_course site_padding">@Html.ActionLink(test.testname, "Test", new { testid = test.testid }, new { testname = test.testname })</p>
                }
            
        </li>
    </ul>