
@{
    ViewData["Title"] = "Theme";
}
@using DataModels;
@model ThemeViewModel;
<h1>Theme</h1>
<h1>@Model.themename</h1>
<p>Доступные тесты по теме:</p>
@foreach (TestModel test in Model.tests)
{
    <li class="student_kurs">
        <p>@Html.ActionLink(test.testname, "Test", new { testid = test.testid }, new { testname = test.testname })</p>
    </li>
}
<p>Доступные лекции по теме:</p>
@foreach (LectureModel lecture in Model.lectures)
{
    <li class="student_kurs">
        <a href="@lecture.lecturefile">@lecture.lectureid</a>
    </li>
}