
@using DataModels;
@model ThemeViewModel;
@{
    ViewData["Title"] = Model.Themename;
}

@*<h3 align="center">Название темы: @Model.Themename</h3>

    <p class="size_title_course site_padding">Доступные тесты по теме:</p>
    <table class="table table-striped">
           @foreach (TestModel test in Model.tests)
            {

<tr>
    <td>
        <p class="size_text_course site_padding">@Html.ActionLink(test.testname, "Test", new { testid = test.testid }, new { testname = test.testname })</p>
    </td>
        </tr>
            }
    </table>*@
