
@{
    ViewData["Title"] = "CreateEdit1";
}

<p>
    Создание текстовых документов – наиболее
    распространенный способ использования компьютеров. Трудно
    представить сферу деятельности, в которой компьютер не
    применяется для подготовки и печати документов. Огромный спрос
    на удобные и универсальные приложения для создания документов
    побудил производителей программного обеспечения выпускать и
    развивать свои продукты. Microsoft Word – бесспорный лидер в
    данной области. В этом разделе рассматриваются основные
    элементы русского интерфейса программы и основные понятия,
    которые используются при работе с текстом. В приложении 1
    приводятся скриншоты версий Word на русском, английском и
    французском языках.
</p>

<h2>Основные понятия Microsoft Office</h2>
<p>
    <b>Кнопка и меню Office.</b> Если нажать на кнопку <img src="~/images/CreateEdit_img1.png">, появится
    <b>Меню Office</b> (рис. 1).
</p>
<div align="center">
    <img src="~/images/CreateEdit_img2.png.jpg">
    <p>Рис. 1 Меню Office</p>
</div>
<p><b>Лента.</b> Главный элемент – это <b>лента</b> команд. С помощью
ленты можно быстро находить необходимые команды (рис. 2).</p>
<div align="center">
<img src="~/images/CreateEdit_img3.png">
    <p>Рис. 2 Лента команд</p>
</div>
<p><b>Вкладка.</b> Вкладка – это группа команд для выполнения определенных действий (рис. 3).</p>
<div align="center">
<img src="~/images/CreateEdit_img4.png">
<p>Рис. 3. Вкладка ленты команд</p>
</div>
<p><b>Ввод текста в документ.</b> 
    Текст вводится в том месте документа, где мигает курсор. При вводе текста с клавиатуры курсор сдвигается вправо. 
    При достижении конца строки курсор автоматически переместится на следующую строку. 
    Когда заканчивается ввод первого абзаца, надо нажать клавишу <b>Enter</b>, чтобы перейти к вводу текста следующего абзаца.</p>
<p>Абзац – это непрерывная часть текста, которая заканчивается нажатием клавиши <b>Enter</b> (рис. 4).</p>
<div align="center">
<img src="~/images/CreateEdit_img5.png">
    <p>Рис. 4 Абзац текста</p>
</div>
<p>
    <b>Редактирование документа.</b> Редактирование документа – это внесение изменений в содержимое документа.
    Редактирование предназначено для устранения ошибок, перемещения символов, слов, строк, фрагментов и внесения других изменений в содержимое документа.
</p>
<p>
    Для редактирования текста используются клавиши <b>Delete, Backspace, Пробел</b> и применяется средство  <b>Drag and Drop</b> («перетащи и отпусти» при нажатой левой или правой кнопки мыши).
        Клавиша <b>Delete</b> применяется, когда необходимо удалить символ, расположенный справа от курсора.
        Для удаления символа, расположенного слева от курсора, используют клавишу <b>Backspace.</b>
</p>        
<p>Для удаления, вырезания, копирования и перемещения фрагмента текста необходимо его выделить (рис. 5).
</p>
<p>После выделения фрагмента его можно копировать и перемещать следующими способами:</p>
<ul>
    <li>используя левую кнопку мыши (перетащи и отпусти);</li>
    <li>используя правую кнопку мыши (перетащи и отпусти);</li>
    <li>с помощью команд на вкладке Главная (Копировать, Вырезать, Вставить);</li>
    <li>с помощью команд контекстного меню (при щелчке правой кнопкой мыши на выделенном тексте);</li>
    <li>с клавиатуры (набор клавиш: Ctrl+C – копировать, Ctrl+V – вставить).</li>
</ul>
<div align="center">
<img src="~/images/CreateEdit_img6.png">
<p>Рис. 5. Выделенный фрагмент текста</p>
</div>
<p>
    Программа Word автоматически  проверяет грамматические и стилистические правила письма (несогласованность подлежащего и сказуемого).
</p>
<p>
    Грамматические ошибки подчеркиваются красной линией. При наличии возможных ошибок в предложении редактор подчеркивает  зеленой линией предложение или его часть.
</p>
<h3>
    Практическое задание
</h3>
<p><b>Задание 1.</b> Набрать связный текст произвольного содержания общим объемом в 1/2 страницы. Текст должен удовлетворять следующим требованиям:</p>
<ol>
    <li>
        Первая строка – заголовок текста. Размер шрифта 18 пт. Вид, начертание и цвет шрифта в заголовке должны отличаться от основного текста.
    </li>    
    <li>
        Основной текст набрать шрифтом Times New Roman 14 пт.
    </li>
    <li>
        В тексте должно быть 3 абзаца (по 3–5 строк) с разными 
    значениями следующих параметров форматирования абзацев: выравнивание, размер отступа для красной строки, междустрочный интервал
    </li>
</ol>
<p>Пример выполнения задания 1 приведен на рисунке 6. 
    В приведенном примере первый абзац текста выровнен по левому краю, второй – по правому краю, а третий – по ширине. 
    В первом абзаце междустрочный интервал равен 1, во втором абзаце – 2, а в третьем абзаце – 1,5.</p>
<div align="center">
<img src="~/images/CreateEdit_img7.png">
<p>Рис. 6. Пример форматирования абзацев текста</p>
</div>
<h3>Технология работы</h3>
<p>В текстовых редакторах <b><i>абзац</i></b> – это фрагмент текста, заканчивающийся символом окончания абзаца, который вводится при нажатии клавиши <b>Enter.</b></p>
<p>Все параметры форматирования абзаца можно задать в одном диалоговом окне (рис. 7), которое открывается по команде ленты <b>Абзац.</b></p>
<div align="center">
    <img src="~/images/CreateEdit_img8.png">
    <p>Рис. 7. Дилоговое окно Абзац</p>
</div>
<p><b>Задание 2.</b> Подготовить титульный лист для отчета по лабораторным работам по информатике.</p>
<p>Документ должен быть подготовлен в соответствии со следующими требованиями:</p>
<ol>
    <li>
        Содержание и внешний вид титульного листа должны соот-ветствовать образцу в приложении 2.
    </li>
    <li>
        Разрешается использовать шрифты любого вида и размера при условии использования шрифта размером не менее 14 пт.
    </li>
    <li>
        Название кафедры набрать полужирным курсивом.
    </li>
    <li>
    Название лабораторной работы должно отличаться по раз-меру, виду и цвету шрифта от остального текста.
    </li>
    <li>
        Вставить на лист один или несколько готовых рисунков.
    </li>
    <li>
        Оформить лист рамкой.
    </li>
    <li>
    Сохранить документ в папке вашей группы.
    </li>
</ol>
<h3>Технология работы</h3>
<p>Работа по подготовке любого документа включает в себя 3 основных этапа: ввод текста, редактирование текста и форматиро-вание текста.</p>
<p>Можно сначала просто набрать содержание документа (ввести текст), не заботясь о его внешнем виде, а затем исправить возможные опечатки (отредактировать текст) и привести текст к заданному внешнему виду (отформатировать текст).</p>
<p><b>Выравнивание строк текста.</b> Для того чтобы выровнять строки текста титульного листа по центру и правому краю страницы, можно воспользоваться кнопками на ленте (рис. 8).</p>
<div align="center">
    <img src="~/images/CreateEdit_img9.png">
    <p>Рис. 8. Кнопки выравнивания текста</p>
</div>
<p><b>Форматирование шрифта. </b>
    Параметры шрифта (вид, начертание, размер и цвет) можно установить с помощью группы команд <b>Шрифт</b> (рис. 9), которая находится во вкладке ленты <b>Главная.</b></p>
<div align="center">
    <img src="~/images/CreateEdit_img10.png">
    <p>Рис. 9. Группа команд Шрифт</p>
</div>
<p>Другой вариант вызова того же диалогового окна – вызов правой кнопкой мыши контекстного меню.</p>
<p><b>Вставка в текст рисунка из коллекции Microsoft Office.</b> 
    Коллекция рисунков Microsoft Office становится доступной для использования после выполнения команды <b>Вставка – Клип.</b> 
    В нижней части области задач Коллекция клипов (рис. 10) щелкните ссылку <b>Упорядочить клипы.</b></p>
<div align="center">
    <img src="~/images/CreateEdit_img11.png">
    <p>Рис. 10. Вид экрана после выполнения команды Вставка – Клип</p>
</div>
<p>Понравившийся рисунок надо выделить щелчком мыши. Появится раскрывающийся список (рис. 11), в котором надо выбрать пункт <b>Копировать.</b> При этом рисунок помещается в буфер обмена. 
    Чтобы вставить рисунок в свой документ, надо щелкнуть мышью в основном документе в месте вставки, вызвать правой кнопкой мыши контекстное меню и выбрать команду <b>Вставить.</b></p>
<div align="center">
    <img src="~/images/CreateEdit_img12.png">
    <p>Рис. 11. Выбор и вставка рисунка в документ</p>
</div>
<p><b>Вставка на лист рамки из рисунков.</b> Для обрамления всего текста листа надо выполнить команду ленты <b>Разметка страницы – Границы страниц,</b> 
    в появившемся диалоговом окне выбрать вкладку <b>Страница</b> и выбрать желаемый вид рамки (рис. 12). </p>
<div align="center">
    <img src="~/images/CreateEdit_img13.png">
    <p>Рис. 12. Выбор и вставка на страницу рамки из рисунков</p>
</div>
<p><b>Сохранение файла в папке своей группы. Нажмите на кнопку Office.</b> 
    Выберите в меню пункт <b>Сохранить.</b> В открывшемся диалоговом окне откройте папку вашей группы. 
    Введите в поле <b>Имя файла</b>. текст <b>Титульный лист</b> и нажмите кнопку <b>ОК</b>.</p>