
@{
    ViewData["Title"] = "Diagrams_14";
}

<h4>Задание 1</h4>
<p>Построить гистограмму средних баллов студентов за сессию (рис. 35).</p>
<div align="center">
    <img src="~/images/Diagrams_img1.png">
    <p>Рис. 35. Гистограмма средних баллов студентов</p>
</div>
<p><b>Построение гистограммы.</b> Построение любой диаграммы начинается с выделения с помощью мыши ячеек, содержащих исходные данные для диаграммы.</p>
<p><b>Выделение ячеек с исходными данными.</b> Исходные данные для  гистограммы средних баллов – это фамилии студентов (ячейки <b>А3:А15</b>) 
    и значения соответствующих средних баллов (ячейки <b>F3:F15</b>). 
    Данные  ячейки образуют несмежные области таблицы. Для того чтобы выделить эти несмежные области, сначала проведите мышью по ячейкам А3:А15, 
    затем  нажмите клавишу <b>Ctrl</b> и, удерживая ее, проведите по ячейкам F3:F15 (рис. 36).</p>
<p>Щелкните мышью по команде <b>Вставка</b> на ленте. В группе <b>Диаграммы</b> выберите пункт <b>Гистограмма</b>, а затем выберите первый тип гистограммы.</p>
<div align="center">
    <img src="~/images/Diagrams_img2.png">
    <p>Рис. 36. Таблица с выделенными данными для построения гистограммы</p>
</div>
<p>Получится диаграмма без названия.  
    Щелкните мышью по полученной диаграмме в любом месте. Вокруг области диаграммы появится рамка с маркерами. 
    Выберите на ленте команду <b>Конструктор</b>.</p>
<p>На вкладке Макеты диаграмм выберите Макет 1. <img src="~/images/Diagrams_img3.png"></p>
<p>В поле <b>Название</b> введите заголовок, как на рисунке 35. Надпись <b>Ряд1</b> надо убрать, щелкнув по ней и нажав клавишу <b>Del</b>.</p>
<h4>Задание 2</h4>
<p>Построить линейчатую диаграмму средних баллов группы по предметам (рис. 37).</p>
<div align="center">
    <img src="~/images/Diagrams_img4.png">
    <p>Рис. 37. Линейчатая диаграмма средних баллов по предметам</p>
</div>
<p><b>Построение линейчатой диаграммы.</b> Исходные данные для линейчатой диаграммы средних баллов по предметам – это ячейки с названиями предметов (B2, C2, D2, E2) 
    и ячейки со значениями соответствующих средних баллов  (B17, C17, D17, E17). Выделите эти ячейки, пользуясь описанной выше технологией. 
    Щелкните  мышью по команде <b>Вставка</b> на ленте. 
    В группе <b>Диаграммы</b> выберите пункт <b>Линейчатая</b>, а затем выберите первый тип гистограммы. 
    Дальнейшие действия аналогичны тем, которые необходимы для построения гистограмм.</p>
<h4>Задание 3</h4>
<p>Определить, сколько оценок «отлично», «хорошо», «удовлетворительно» и «неудовлетворительно» получили студенты группы на экзаменах по каждому из предметов.</p>
<h2>Технология работы</h2>
<p>На том же рабочем листе постройте таблицу, аналогичную таблице, представленной на рисунке 38.</p>
<div align="center">
    <img src="~/images/Diagrams_img5.png">
    <p>Рис. 38. Таблица для подсчёта количества оценок «отлично», «хорошо», «удовлетворительно» и «неудовлетворительно»</p>
</div>
<p><b>Подсчет количества значений, удовлетворяющих заданному условию.</b> 
    Для определения количества оценок воспользуемся статистической функцией <b>СЧЁТЕСЛИ</b> (диапазон ячеек; критерий).</p>
<p>Диапазон ячеек задает область таблицы, в которой подсчи-тывается число значений, удовлетворяющих заданному условию (критерию). 
    Например, для определения количества оценок «отлично» по предмету «Математика» в ячейку С38 введите формулу:</p>
<p>=СЧЁТЕСЛИ(B3:B16 ; 5)</p>
<p>и нажмите клавишу <b>Enter</b>.</p>
<p>Введите самостоятельно аналогичные формулы в остальные незаполненные ячейки таблицы. 
    При этом имейте в виду, что формулы копировать не получится, так как формулы в одной строке будут содержать разные значения критериев 
    (надо подсчитать, соответственно, количество «четверок», «троек» и так далее по одному и тому же предмету), 
    а формулы в разных строках должны проверять значения из разных столбцов первой таблицы (оценки по соответствующим предметам).</p>
<h4>Задание 4</h4>
<p>Построить круговую диаграмму оценок на экзамене по дисциплине «Математика» (рис. 39).</p>
<div align="center">
    <img src="~/images/Diagrams_img6.png">
    <p>
        Рис. 39. Круговая диаграмма оценок на экзамене
        по дисциплине «Математика»
    </p>
</div>
<p>Построение круговой диаграммы. Круговая диаграмма используется для графического представления процентного соотношения данных, которые в сумме образуют 100%. 
    Для того чтобы показать графически процентное соотношение оценок студентов по дисциплине «Математика», 
    надо выделить ячейки с заголовком данной таблицы и ячейки с количеством оценок по этой дисциплине.</p>
<div align="center">
    <img src="~/images/Diagrams_img7.png">
    <p>
        Рис. 40. Исходные данные для круговой диаграммы
    </p>
</div>
<p>Щелкните мышью по команде Вставка на ленте. 
    В группе Диаграммы выберите пункт Круговая, а затем выберите первый тип круговой диаграммы. 
    Получится диаграмма без названия и без процентных соотношений.<img src="~/images/Diagrams_img8.png"></p>
<p>Щелкните мышью по вкладке <b>Конструктор</b> на ленте, раскройте список <b>Экспресс-макет</b> и выберите <b>Макет 1</b>. 
    Получится диаграмма с процентными соотношениями оценок. Введите название диаграммы «Оценки по математике». <img src="~/images/Diagrams_img9.png"></p>
<h4>Задание 5</h4>
<p>Постройте круговые диаграммы оценок по каждому из предметов.</p>