
@{
    ViewData["Title"] = "Editing_13";
}

<h4>Задание 1</h4>
<p>С помощью программы Microsoft Excel подготовить таблицу, аналогичную представленной на рисунке 30 (ввести список своей группы, названия своих предметов и оценки).</p>
<div align="center">
    <img src="~/images/Editing_img1.png">
    <p>Рис. 30. Таблица с результатами сессии</p>
</div>
<h2>Технология работы</h2>
<p>
    <b>Ввод и форматирование данных.</b> Введите заголовок «Результаты зимней сессии группы» в ячейку А1.
    Поскольку соседние ячейки свободны, заголовок займет столько места, сколько нужно.
</p>
<p><b>Расположение текста в ячейке в несколько строк.</b> В ячейки строки 2 надо ввести заголовки столбцов. 
    Обратите внимание на то, что в приведенной таблице часть заголовков занимают внутри соответствующих ячеек несколько строк.</p>
<p>Сначала надо увеличить высоту строки 2. Для этого установите курсор на горизонтальную разделительную линию между строками 2 и 3 (при этом курсор примет вид двунаправленной стрелки). 
    Нажмите левую клавишу мыши и, не отпуская ее, сместите разделительную линию вниз.</p>
<p>Выделите всю строку заголовков (щелкните мышью на номере строки 2), нажмите правую кнопку мыши и в меню выберите команду <b>Формат ячеек</b>. 
    В диалоговом окне <b>Формат ячеек</b> выберите вкладку <b>Выравнивание</b> и нажмите кнопку <b>ОК</b> (рис. 31).</p>
<div align="center">
    <img src="~/images/Editing_img2.png">
    <p>Рис. 31. Окно «Формат ячеек»</p>
</div>
<p>В появившемся окне <b>Выравнивание</b> в списках <b>по горизонтали</b> и <b>по вертикали</b> установите значение <b>по центру</b>, 
    поставьте галочку рядом с параметром <b>переносить по словам</b> и нажмите кнопку <b>ОК</b> (рис. 32).</p>
<div align="center">
    <img src="~/images/Editing_img3.png">
    <p>Рис. 32. Установка параметров выравнивания текста/p>
</div>
<p>Введите в ячейки строки 2 соответствующий текст. Ввод в каждую ячейку заканчивайте нажатием клавиши <b>Enter</b>.</p>
<p><b>Ввод данных в таблицу.</b> Введите данные в таблицу. 
    После ввода данных в ячейку нажимайте клавишу <b>Enter</b>. Чтобы отредактировать уже введенные в ячейку данные, выполните двойной щелчок мыши на ячейке.</p>
<p><b>Форматирование таблицы</b>. Выделите всю таблицу и выровняйте данные в ячейках по центру. 
    Можно использовать значок <img src="~/images/Editing_img4.png"> на панели инструментов или команду <b>Формат ячеек -> Выравнивание -> по центру</b>. 
    Установите жирный шрифт для заголовков столбцов.</p>
<p>
    <b>Сохранение результатов работы на диске.</b>
    Сохраните рабочую книгу в папке вашей группы с помощью команды <b>Сохранить</b> из меню кнопки <b>Office</b> <img src="~/images/CreateEdit_img1.png">
    или с помощью иконки с изображением дискеты <img src="~/images/CreateEdit_img5.png">.
</p>
<h4>Задание 2</h4>
<p>Вычислить значения средних баллов каждого студента за сессию и значения средних баллов группы по каждому из предметов.</p>
<p><b>Вычисление средних значений.</b> Средний балл студента за сессию определяется как среднее арифметическое значение оценок данного студента. 
    Для вычисления среднего арифметического значения воспользуемся встроенной функцией СРЗНАЧ.</p>
<p>В ячейку F3 надо ввести формулу</p>
<p>= СРЗНАЧ(B3;C3;D3;E3)</p>
<p>
    <b><i>Обратите внимание</i></b> на то, что имя функции состоит из русских букв, а адреса ячеек включают в себя английские буквы.
    Нажмите клавишу <b>Enter</b>. Появится результат вычисления по формуле.
</p>
<p><b>Копирование формулы.</b> 
    Формулы для вычисления средних баллов остальных студентов будут иметь такой же вид, отличаясь друг от друга только номерами строк в адресах ячеек. 
    Скопируйте полученную формулу в остальные ячейки столбца F. Для этого щелкните мышью на ячейке F3 с формулой. 
    В правом нижнем углу рамки ячейки появится маленький черный квадрат. Установите на него куpсоp мыши. 
    При этом курсор изменит форму на черный крестик. Нажмите на левую кнопку мыши и, удерживая ее, растяните рамку, чтобы захватить остальные ячейки столбца  F.</p>
<p>Средний балл группы по предмету определяется как среднее арифметическое оценок всех студентов.</p>
<p>В ячейку В16 введите знак равенства, имя функции и открывающую круглую скобку:</p>
<p>=СРЗНАЧ(</p>
<p>Затем при нажатой левой клавише проведите мышью по ячейкам В3 – В15. В формуле появится обозначение диапазона ячеек В3:В16. 
    Нажмите <b>Enter</b> для получения результата вычислений. 
    Скопируйте полученную формулу в остальные ячейки строки 16.</p>
<h4>Задание 3</h4>
<p>На основе таблицы, приведенной на рисунке 30, построить таблицу, показанную на рисунке 33.</p>
<div align="center">
    <img src="~/images/Editing_img6.png">
    <p>Рис. 33. Ведомость для начисления и выплаты стипендии</p>
</div>
<p>Установите курсор в ячейку А19 и наберите название таблицы «Ведомость для начисления и выплаты стипендии».</p>
<p>В ячейку В20 введите текст «Фамилия студента». Расположите этот текст в 2 строки, как было описано выше. В ячейку С20 введите текст «Стипендия».</p>
<p><b>Копирование данных из одной таблицы в другую.</b> Фамилии студентов надо скопировать из таблицы с результатами сессии. Для этого сделайте следующее: </p>
<ul>
    <li>с помощью мыши выделите ячейки с адресами от А3 до А15;</li>
    <li>нажмите правую кнопку мыши и в появившемся контекстном меню выберите команду <b>Копировать</b>;</li>
    <li>установите курсор в ячейку В21, нажмите правую кнопку мыши и в появившемся меню выберите команду <b>Вставить</b>.</li>
</ul>
<h4>Задание 4</h4>
<p>Организовать автоматическое начисление стипендии студентам группы, исходя из следующего условия. 
    Студенту начисляется стипендия, если его средний балл за сессию не ниже 3,5.
    В противном случае стипендия не начисляется.</p>
<p><b>Использование логической функции ЕСЛИ</b>. Для опреде-ления размера стипендии воспользуемся логической функцией <b>ЕСЛИ</b>:</p>
<p><b>ЕСЛИ</b> (условие; значение_если_истина; значение_если_ ложь)</p>
<p>В нашей задаче размер стипендии не является раз и навсегда фиксированной величиной, он периодически меняется в соответствии с изменениями в российском законодательстве. 
    Для того чтобы не менять формулы для начисления стипендии при подобных изменениях, 
    целесообразно ввести текущее значение обычной стипендии в отдельную ячейку, например, Е22, а в формулах использовать ссылки на данную ячейку. 
    Чтобы при копировании формулы этот адрес оставался в неизменном виде, используем <i>абсолютный адрес ячейки</i> $Е$22.</p>
<p>В ячейку С21 введите формулу </p>
<p>=ЕСЛИ(F3>=3,5 ; $E$22;  0)</p>
<p>и нажмите клавишу <b>Enter.</b></p>
<p>Скопируйте формулу в остальные ячейки столбца С.</p>
<h4>Задание 5</h4>
<p>Вычислить суммарный размер стипендии группы.</p>
<p><b>Автосуммирование.</b> Для определения суммарного размера стипендии группы воспользуемся <i>функцией автосуммирования</i> (рис. 34).</p>
<p>Установите курсор в ячейке С34. На ленте щелкните мышью по команде <b>Формулы</b>. 
    Выберите раскрывающийся список рядом с пунктом <b>Автосумма</b>, а затем выберите пункт <b>Сумма</b>. 
    В ячейке С34 появится формула</p>
<p>=СУММ ()</p>
<div align="center">
    <img src="~/images/Editing_img7.png">
    <p>Рис. 34. Вставка функции автосуммирования</p>
</div>
<p>Выделите с помощью мыши ячейки от С21 до С33. Формула примет вид =СУММ (С21:С33). Нажмите <b>Enter</b> для получения результата. 
    Так как размер стипендии выражается в рублях, установите соответствующий формат ячейки. 
    Выделите ячейку С34 и выполните команду <b>Формат ячеек – Число – Денежный</b>.</p>
<h4>Задание 6</h4>
<p>Сохраните полученную таблицу в папке вашей группы и на резервном носителе (флэш). Данная таблица используется для выполнения задания в теме 14.</p>