
@{
    ViewData["Title"] = "Formulas_11";
}

<h4>Задание</h4>
<p>Набрать в редакторе Microsoft Word формулу</p>
<img align="middle" src="~/images/Formulas_img1.png">
<h2>Технология работы</h2>
<p>Поставьте курсор в то место документа, где будет находиться формула.</p>
<p>Выберите на ленте команду <b>Вставка</b>, а затем выберите вкладку <img src="~/images/Formulas_img2.png"> <b>Формула</b></p>
<p>На экране появится конструктор для ввода формулы (рис. 28).</p>
<div align="center">
    <img src="~/images/Formulas_img3.png">
    <p>Рис. 28. Конструктор формул</p>
</div>
<p>Щелкните мышью <b>Место для формулы</b> <img src="~/images/Formulas_img4.png">.</p>
<p>
    Введите с клавиатуры символы X=
</p>
<p>В группе Конструктор выберите  Дробь. <img src="~/images/Formulas_img5.png"></p>
<p>Получится <img src="~/images/Formulas_img6.png"></p>
<p>Перейдите в числитель <img src="~/images/Formulas_img7.png"></p>
<p>Выберите в конструкторе <b>Индекс</b> <img src="~/images/Formulas_img8.png"></p>
<p>Выберите верхний индекс <img src="~/images/Formulas_img9.png"></p>
<p>Щелкните больший квадратик <img src="~/images/Formulas_img10.png"></p>
<p>Введите символы sin <img src="~/images/Formulas_img11.png"></p>
<p>Щелкните меньший квадратик <img src="~/images/Formulas_img12.png"></p>
<p>Вводите цифру 2 <img src="~/images/Formulas_img13.png"></p>
<p>Находим на вкладке Символы греческую букву α <img src="~/images/Formulas_img14.png"></p>
<p>Аналогично строим знаменатель дроби.</p>