
@{
    ViewData["Title"] = "GraphObjects_10";
}

<h1>GraphObjects_10</h1>

<h4>Задание 1</h4>
<p>Подготовьте поздравительную открытку (рис. 18). Поздравить можно с любым праздником или приятным событием. 
    Текст поздравления, картинки, рамку и автофигуры выберите по своему желанию. 
    Пример показывает, какие обязательные элементы должна включать в себя открытка.</p>
<div align="center">
    <img src="~/images/Graph_img1.png">
    <p>Рис. 18. Пример поздравительной открытки</p>
</div>
<h2>Технология работы</h2>
<ol>
    <li>
        Вставьте на страницу рамку из рисунков. (Как вставить
        на страницу рамку из рисунков, вы узнали при изучении
        темы 8.)
    </li>
    <li>
        Объект WordArt вставляется в документ следующим образом. На ленте надо выбрать вкладку Вставка.
        В группе команд Текст надо щелкнуть по значку <img src="~/images/Graph_img2.png"> Откроется окно выбора стиля надписи (рис. 19).
        <div align="center">
            <img src="~/images/Graph_img3.png">
            <p>Рис. 19. Выбор стиля надписи</p>
        </div>
        Выберите один из стилей надписи и в появившемся диалоговом окне (рис. 20) измените слова <b>Текст надписи</b> на  нужную  вам надпись.
    </li>
    <li>Наберите текст поздравления.</li>
    <li>Вставьте на страницу рисунок из коллекции Microsoft Office. (Технология вставки в текст готовых картинок описана в теме 8.)
        <div align="center">
            <img src="~/images/Graph_img4.png">
            <p>Рис. 20. Изменение текста надписи WordArt</p>
        </div>
    </li>
    <li>
        Вставьте в открытку несколько разных автофигур.
        Для этого надо выбрать вкладку <b>Вставка</b>, а потом в группе <b>Иллюстрации</b> щелкнуть по значку <b>Фигуры</b> (рис. 21).
        <div align="center">
            <img src="~/images/Graph_img5.png">
            <p>Рис. 21. Вставка автофигуры</p>
        </div>
        <p>В открывшемся окне из группы Основные фигуры (рис. 22) надо щелкнуть по фигуре, а потом – по свободному месту на открытке.</p>
        <div align="center">
            <img src="~/images/Graph_img6.png">
            <p>Рис. 22. Список автофигур</p>
        </div>
        Например, вы выбрали <img src="~/images/Graph_img7.png">
        <p>
            Для того чтобы изменить цвет контура и цвет заливки фигуры, щелкните по ней мышкой.
            Теперь фигура стала активной и к ней можно применить команды для изменения цвета контура и заливки. <img src="~/images/Graph_img8.png">
        </p>
        <p>Для этого надо нажать правую кнопку мыши и в появившемся меню выбрать команду <b>Формат автофигуры</b> (рис. 23)</p>
        <div align="center">
            <img src="~/images/Graph_img9.png">
            <p>Рис. 23. Формат автофигуры</p>
        </div>
        <p>Откроется окно, в котором надо выбрать цвет и толщину линии и цвет и способ заливки.</p>
    </li>
</ol>
<h4>Задание 2</h4>
<p>Построить блок-схему алгоритма (рис. 24). Алгоритм должен занимать полный лист формата А4. 
    Надписи внутри блоков должны быть расположены по центру. 
    Все блоки должны быть симметричны относительно центральной вертикальной оси алгоритма.</p>
<div align="center">
    <img src="~/images/Graph_img10.png">
    <p>Рис. 24. Пример блок-схемы циклического алгоритма</p>
</div>
<h2>Технология работы</h2>
<p>Для построения блок-схем алгоритмов используется специальный набор фигур, состоящий из стандартных обозначений на  блок-схемах алгоритмов. 
    Для того чтобы получить доступ к этому набору фигур, надо на ленте выбрать вкладку <b>Вставка</b>, 
    затем выбрать команду <b>Фигуры</b> и в появившемся окне найти набор <b>Блок-схема</b> (рис. 25).</p>
<div align="center">
    <img src="~/images/Graph_img11.png">
    <p>Рис. 25. Список блок-схем</p>
</div>
<p>Для помещения внутри блока надписи надо сделать блок активным и нажать правую кнопку мыши. 
    Из контекстного меню выбирается команда <b>Добавить текст.</b></p>
<div align="center">
    <img src="~/images/Graph_img12.png">
    <p>Рис. 26. Добавление текста</p>
</div>
<p>
    Внутри появившейся рамки набирается нужный текст. 
    Для того чтобы убрать затем рамку вокруг текстового блока, надо вызвать правой кнопкой мыши контекстное меню и выбрать в нем команду <b>Формат надписи</b>. 
    В появившемся диалоговом окне (рис. 27) выбрать вкладку <b>Цвета и линии</b>, открыть раскрывающийся список <b>Цвет</b> и пункт <b>Нет линий</b>. Закончить диалог, нажав кнопку OK.
</p>
<div align="center">
    <img src="~/images/Graph_img13.png">
    <p>Рис. 27. Диалоговое окно «Формат надписи»</p>
</div>