
@{
    ViewData["Title"] = "MainConcepts_12";
}

<h1>MainConcepts_12</h1>
<p>Для представления данных в наглядном и удобном для человека виде используют таблицы. 
    Компьютер позволяет представлять их в электронной форме, а это дает возможность не только отображать, но и обрабатывать данные. 
    Класс специальных программ, используемых для этой цели, называется <i>электронными таблицами</i>.</p>
<p>Особенность электронных таблиц заключается в возможности применения <i>формул</i> для описания связи между значениями раз-личных ячеек. 
    Расчет по заданным формулам выполняется автома-тически. 
    Изменение содержимого какой-либо ячейки таблицы приводит к пересчету значений всех ячеек, которые с ней связаны формульными отношениями и, тем самым, 
    к обновлению всей таблицы в соответствии с изменившимися данными.</p>
<p>Применение электронных таблиц упрощает работу с данными и позволяет получать результаты без проведения расчетов вручную или специального программирования.</p>
<p>Наиболее широкое применение электронные таблицы нашли в экономических и 
    бухгалтерских расчетах, но и в научно-технических задачах электронные таблицы можно использовать эффективно, например для:</p>
<ul>
    <li>проведения однотипных расчетов над большими наборами данных;</li>
    <li>автоматизации итоговых вычислений;</li>
    <li>обработки результатов экспериментов;</li>
    <li>проведения поиска оптимальных значений параметров;</li>
    <li>подготовки табличных документов;</li>
    <li>построения диаграмм и графиков по имеющимся данным.</li>
</ul>
<p>Одним из наиболее распространенных средств работы с доку-ментами, имеющими табличную структуру, является программа Microsoft Excel.</p>
<p>На рисунке 29 показано рабочее окно программы Microsoft Excel. 
    Основные элементы управления (меню, панели инструментов) аналогичны соответствующим элементам окна Microsoft Word. 
    Работа с этими элементами выполняется по правилам, общим для любого приложения Microsoft Office.</p>
<div align="center">
    <img src="~/images/Concepts_img1.png">
    <p>Рис. 29. Рабочее окно программы Microsoft Excel</p>
</div>
<p>В строке заголовка отображается название программы (Microsoft Excel) и имя документа. 
    Документ Excel называется <i>Рабочей книгой</i>. При сохранении файлу по умолчанию присваивается имя <b>Книга1</b>, расширение имени xls.</p>
<p>Книга состоит из <i>рабочих листов</i>. Каждый рабочий лист имеет <i>имя</i>, которое отображается на его <i>ярлыке</i>. 
    По умолчанию листы называются: <b>Лист1, Лист2</b> и т. д. Для активизации листа нужно щелкнуть на его ярлыке.</p>
<p>Рабочая область каждого листа представляет собой таблицу. <i>Столбцы</i> таблицы озаглавлены латинскими буквами и, далее, двухбуквенными сочетаниями. 
    Всего в рабочем листе 256 столбцов (от <b>А</b> до <b>IV</b>). Строки нумеруются от 1 до 65536.</p>
<p><b>Активная (текущая) ячейка.</b> Одна из ячеек всегда является активной (текущей) и выделяется рамкой активной ячейки. 
    Эта рамка в программе Excel играет роль курсора. Операции ввода и редактирования всегда производятся в активной ячейке.</p>
<p>Сделать активной другую ячейку (переместить курсорную рамку) можно несколькими способами:</p>
<ul>
    <li>щелкнуть мышью в нужной ячейке; </li>
    <li>использовать навигационные клавиши – стрелки;</li>
    <li>нажать клавишу <b>Enter</b>. </li>
</ul>
<p><b>Ячейки и их адресация.</b> На пересечении столбцов и строк образуются ячейки таблицы. 
    Они являются минимальными элементами для хранения данных. 
    Обозначение отдельной ячейки (адрес ячейки) состоит из имени столбца и номера строки, на пересечении которых она расположена, например: А1 или D234.  
    Адреса ячеек используются при записи формул, определяющих взаимосвязь между значениями, расположенными в разных ячейках.</p>
<p>Большинство адресов в формулах записываются в относи-тельной форме: например, <b>С3</b>(столбец, строка).</p>
<p><b><i>Относительными адресами</i></b> называются адреса, которые при копировании в составе формулы в другую ячейку автоматически изменяются. 
    При копировании формулы с относительным адресом (столбец, строка) на n строк ниже и на m столбцов правее ссылка изменяется на (столбец+m, строка+n)</p>
<p>В большинстве случаев это очень удобно, но иногда этого не требуется. Некоторые адреса в формулах записываются в абсолютной форме: например, <b>$С$3</b>.</p>
<p><b><i>Абсолютный адрес</i></b>
        – это адрес, который при копировании в составе формулы в другую ячейку не изменяется.
        Абсолютные адреса используются в формулах тогда, когда нежелательно автоматическое изменение ссылки при копировании.
</p>
<p><b>Диапазон ячеек.</b> На данные, расположенные в соседних ячейках, можно ссылаться в формулах как на единое целое. Такую группу ячеек называют диапазоном. 
    Диапазон ячеек обозначают, указывая через двоеточие номера ячеек, расположенных в левом верхнем и правом нижнем углах прямоугольника, например: А1:С15.</p>
<p><b>Типы данных</b>. Отдельная ячейка может содержать данные, относящиеся к одному из трех типов: текст, число или формула, а также оставаться пустой. 
    Тип данных, размещаемых в ячейке, определяется автоматически при вводе. Если эти данные можно интерпретировать как число, программа Excel так и делает. 
    В противном случае данные рассматриваются как текст.</p>
<p>Признаком формулы является знак равенства «=».</p>