
@{
    ViewData["Title"] = "TablesMSWord_09";
}

<h3></h3>
<h4><b>Задание</b></h4>
<p>Подготовить в виде таблицы расписание занятий вашей группы в текущем семестре. Пример расписания показан на ри-сунке 13.</p>
<div align="center">
    <img src="~/images/Tables_img1.png">
    <p>Рис. 13. Пример расписания занятий в виде таблицы</p>
    </div>
<h3>Технология работы</h3>
<ol>
    <li>Разверните лист по горизонтали. Для этого выберите вклад-ку <b>Разметка страницы</b>, а потом щелкните по команде <b>Ориентация</b> и выберите ориентацию <b>Альбомная</b> (рис. 14).</li>
    <li>Наберите заголовок таблицы «Расписание занятий».</li>
    <li>Перейдите на следующую строку.</li>
    <li>Щелкните по вкладке <b>Вставка</b>, а потом по значку <b>Таблица</b> и выделите 4 строки и 6 столбцов (рис. 15).</li>
    <li>Внесите в таблицу полную информацию о названиях пред-метов, видах занятий и номерах аудиторий.
        <div align="center">
            <img src="~/images/Tables_img2.png">
            <p>Рис. 14. Изменение ориентации страницы   </p>
        </div>
        <div align="center">
            <img src="~/images/Tables_img3.png">
            <p>Рис. 15. Вставка таблицы</p>
        </div>
    </li>
    <li>Для того чтобы внести в ячейку таблицы данные о занятиях по четным и нечетным (верхним и нижним) неделям, надо разбить соответствующую ячейку таблицы на 2 строки. 
    Для этого надо установить курсор в этой ячейке, правой кнопкой мыши вызвать контекстное меню и выбрать в нем команду <b>Разбить ячейки</b> (рис. 16)
    <div align="center">
            <img src="~/images/Tables_img4.png">
            <p>Рис. 16. Разбиение ячейки </p>
        </div>
    </li>
    <li>Выделите ячейки первой строки таблицы (с названиями дней недели), нажмите правую кнопку мыши и выберите команду <b>Границы и заливка</b>. 
    В появившемся окне выберите вкладку <b>Заливка</b> и выберите цвет заливки (рис. 17).
    <div align="center">
            <img src="~/images/Tables_img5.png">
            <p>Рис. 17. Выбор цвета заливки</p>
        </div>
    </li>
    <li>Аналогичным образом выполните заливку ячеек первого столбца таблицы (время начала занятий).</li>
    <li>Сохраните полученный документ в папке вашей группы.</li>
</ol>