
@{
    ViewData["Title"] = "Test7Theme";
}

<h1>Test7Theme</h1>

<h3>
    Задание 1. Прочитайте слова и словосочетания, запомните их
    значения:
</h3>
<p>
    обеспечивать (что?)
    специальная программа
    обеспечение
    среда программирования
    программировать (что?)
    система
    программное обеспечение
    операционная система
    программирование
    редактировать (что?)
    служебная программа
    редактор
    прикладная программа
    текстовый редактор
    драйвер
    интерфейс
</p>
<h3>Задание 2. Сгруппируйте однокоренные слова:</h3>
<p>
    офис, графика, операция, система, служебный, драйвер,
    прикладывать, обеспечение, программа, команда, обслуживание,
    приложение, обслуживать, обеспечивает, программирование,
    обслуживающее, системный, офисный, командовать, прикладной,
    драйверный, графический, оперативный.
</p>
<h3>Задание 3. Образуйте существительные от глаголов по образцу:</h3>
<p>
    а) разработать, собрать.
    Образец: обработать – обработка;
    б) запускать, записать, переносить, обменять.
    Образец: набрать – набор;
    в) преобразовать, преобразование, функционировать, выполнить, обеспечить, решить, управлять.
    Образец: хранить – хранение.
</p>
<h3>Задание 4. Образуйте причастия от данных глаголов по образцу.</h3>
<p>
    а) записывать, распределять, обеспечивать, управлять.
    Образец: работать – работающий (компьютер), работающее
    (устройство), работающая (аппаратура), работающие (компьютеры);
    б) разработать, разделить, распределить, выполнить.
    Образец: собрать – собран, собрана, собрано, собраны.
    Предназначить – предназначен, предназначена, предназначено, предназначены.
</p>
<h3>
    Задание 5. Образуйте существительные от прилагательных по
    образцу:
</h3>
<p>
    последовательный, системный, возможный, способный,
    известный.
    Образец: конкретный – конкретность.
</p>
<h3>Задание 6. Прочитайте текст, постарайтесь понять его содержание.</h3>
<p>
    Текст

    Для обработки информации компьютеру требуется последовательность команд преобразования информации – программа.
    Программы необходимы для функционирования компьютера.
    Каждый процессор имеет свой набор команд. Эти команды
    записываются в двоичном коде и для выполнения должны
    находиться в оперативной памяти.
    Набор программ, который разработан для компьютера,
    называют программным обеспечением (ПО). Программное
    обеспечение можно разделить на классы: системное, прикладное, а
    также класс сред для разработки программ.
    Системное ПО – программы, которые обеспечивают работу
    других программ, позволяют хранить библиотеку программ и
    распределять ресурсы между ними во время работы ЭВМ.
    Прикладное ПО – программы, которые предназначены для
    решения конкретных прикладных задач.
    Среды для разработки программ – специальные программы,
    которые позволяют создавать новые системные и прикладные
    программы.
    Самая важная часть системного программного обеспечения
    собрана в комплексе программ, который называется операционной
    системой.
    Операционная система выполняет следующие функции:
    • обеспечивает запуск программ;
    • распределяет ресурсы между программами во время
    работы компьютера;
    • предоставляет другим программам возможность работы с
    различными устройствами;
    • обеспечивает взаимодействие пользователя с
    компьютером. Наиболее известной операционной системой
    является WINDOWS.
    Подсистемы операционной системы компьютера:
    • подсистема управления процессами;
    • файловая подсистема.
    Драйверы – специальные программы, обеспечивающие работу с аппаратурой.
    Интерфейс – способ взаимодействия пользователя с компью-
    тером.
    К прикладному программному обеспечению относятся, например, программы офисного назначения, графические редакторы,
    редакторы звука и музыки и т. д.
    К системному программному обеспечению, кроме операционной системы, относятся комплекс служебных и специальных
    программ, архиваторы, программа Проводник.
    К средам для разработки программ можно отнести Borland
    Delphi, Visual Basic, Borland С++ Builder, Netbeans.
</p>
<h3>Задание 7. Найдите в тексте ответы на вопросы:</h3>
<p>
    1. Что такое программа?
    2. Что такое программное обеспечение?
    3. Что такое среда для разработки программ?
    4. Что называется операционной системой?
    5. Какие функции выполняет операционная система?
    6. Что такое системное программное обеспечение?
    7. Что такое драйвер?
</p>
<h3>
    Задание 8. Ответьте на вопросы (при затруднении обращайтесь к
    тексту):
</h3>
<p>
    1. Для чего предназначена программа компьютера?
    2. Назовите классы программ?
    3. Для чего предназначено системное ПО?
    4. Для чего предназначено прикладное ПО?
    5. Для чего предназначены компьютерные среды?
    6. Для чего предназначена операционная система?
    7. Назовите составные части прикладного ПО.
    8. Назовите составные части системного ПО.
    9. Назовите составные части сред для разработки программ.
</p>
<h3>Задание 9. Расскажите о наборе программ компьютера.</h3>
<p></p>
<h3>Задание 10. Расскажите об операционной системе компьютера.</h3>
<p></p>
<h3>
    Задание 11. Расскажите о подсистемах операционной системы
    компьютера.
</h3>
<p></p>
<h3>
    Задание 12. Расскажите ту информацию из текста, которую вы
    запомнили.
</h3>
<p></p>