
@{
    ViewData["Title"] = "Test6Theme";
}

<h1>Test6Theme</h1>

<h3>
    Задание 1. Прочитайте слова и словосочетания, запомните их
    значения:
</h3>
<p>
    информация
    жидкокристаллические
    мониторы
    символьная информация
    трубка
    обеспечивать (что? чем?)
    электронно-лучевая трубка
    обеспечение
    акустика
    плазменная панель
    акустические колонки
</p>
<h3>Задание 2. Сгруппируйте однокоренные слова:</h3>
<p>
    клавиатура, ввод, мышь, устройство, клавиатурный, мыши-
    ный, вывод, сканер, привод, устраивать, вводимый, сканировать,
    клавиша, мышка, выводимый.
</p>
<h3>Задание 3. Образуйте существительные от глаголов по образцу:</h3>
<p>
    а) управлять, удалять, добавлять, получать, включать, изо-
    бражать, разрешать, отображать, соотносить, обновлять, двигать,
    перемещать.
    Образец: выполнять – выполнение;
    б) переносить, печатать, записать.
    Образец: переводить – перевод;
    в) носить, читать, писать.
    Образец: преподавать – преподаватель.
</p>
<h3>
    Задание 4. Обратите внимание на синонимичные конструкции
    «что делится на что» = «что может быть какое (каким)» =
    «что бывает какое (каким)».
</h3>
<p>
    Сканеры делятся на чёрно-белые и цветные.
    Сканеры могут быть чёрно-белые и цветные (чёрно-белыми и
    цветными).
    Сканеры бывают чёрно-белые и цветные (чёрно-белыми и
    цветными).
</p>
<h3>Задание 5. Замените данные конструкции синонимичными:</h3>
<p>
    1. Клавиши могут быть цифровыми, буквенными, управ-
    ляющими, включающими.
    2. Принтеры могут быть чёрно-белыми и цветными.
    3. Мониторы могут быть жидкокристаллическими и плаз-
    менными.
    4. Мониторы могут быть двухмерными и трёхмерными.
    5. Экраны монитора могут быть стандартными, широко-
    форматными и др.
</p>
<h3>
    Задание 6. Прочитайте текст и постарайтесь понять его содер-
    жание.
</h3>
<p>
    Текст

    Устройства ввода информации

    Устройства ввода кодируют информацию, переводя её в
    двоичный код. Основным устройством ввода информации в
    компьютер является клавиатура. Все клавиши клавиатуры можно
    разделить на специальные группы:
    1) алфавитно-цифровые клавиши предназначены для ввода
    букв, цифр и символов;
    2) функциональные клавиши – для выполнения опреде-
    лённых действий (F1 – F12);
    3) управляющие клавиши – для выбора режимов и способов
    ввода;
    4) клавиши управления курсором (навигационные) – для
    перемещения по документу;
    5) цифровые клавиши – дополнительные клавиши для ввода
    цифр.
    Tab – клавиша табуляции – предназначена для перемещения
    курсора на несколько позиций вправо.
    Enter – ввод команды или строки текста.
    BackSpace удаляет символ слева от курсора.
    Delete (Del) удаляет символ справа от курсора.
    Insert (Ins) включает режим вставки/замены.
    Esc отменяет предыдущее действие.
    Пробел добавляет в текст «пустой символ».
    Ctrl и Alt используются только вместе с другими клавишами.
    В правой части клавиатуры находятся клавиши управления
    курсором: Home, End, Page Up, Page Down, , , , .
    Мышь предназначена для удобства работы и ввода инфор-
    мации. Мышь передаёт компьютеру сигналы о своём движении,
    курсор двигается в направлении движения мыши.
    Сканер – устройство для перевода графической информации в
    цифровую. Задача сканера – получение электронной копии
    бумажного документа. Важным свойством сканера является
    разрешающая способность. Разрешающая способность – это
    количество точек, которые распознает сканер на квадратный дюйм
    изображения. Оптимальное разрешение сканера для получения
    хорошей электронной копии изображения 300 (DPI) точек на дюйм.
    Сканеры бывают чёрно-белые и цветные. Чёрно-белые сканеры
    распознают разные оттенки серого цвета – от белого до чёрного.
    Всего таких цветов 256. Цветные сканеры позволяют сделать
    точную цветную копию изображения.

    Устройства вывода информации

    Принтер – периферийное устройство компьютера,
    предназначенное для перевода текста или графики на физический
    носитель из электронного вида. По принципу переноса
    изображения на носитель принтеры делятся на: литерные,
    матричные, лазерные (также светодиодные принтеры), струйные,
    сублимационные, термические. По количеству цветов печати – на
    чёрно-белые (монохромные) и цветные.
    Сетевой принтер – принтер, позволяющий принимать задания
    на печать от нескольких компьютеров, подключённых к локальной
    сети.
    Монитор – устройство, предназначенное для визуального
    отображения информации. Современный монитор состоит из
    корпуса, блока питания, плат управления и экрана.
    По типу экрана мониторы делятся на: ЭЛТ – на основе
    электронно-лучевой трубки, ЖК – жидкокристаллические мони-
    торы, плазменные – на основе плазменной панели, проектор –
    видеопроектор и экран, размещённые отдельно или объединённые в
    одном корпусе, лазерные – на основе лазерной панели.
    По размерности отображения мониторы могут быть
    двухмерными (2D) – одно изображение для обоих глаз и
    трёхмерными (3D) – для каждого глаза формируется отдельное
    изображение для получения эффекта объёма.
    Основные параметры мониторов:
    1) соотношение сторон экрана – стандартный (4:3), широ-
    коформатный (16:9) или другое соотношение (например, 5:4);
    2) размер экрана – определяется длиной диагонали, чаще
    всего в дюймах;
    3) разрешение – число пикселей по вертикали и горизонтали;
    4) глубина цвета – количество бит на кодирование одного
    пикселя;
    5) размер зерна или пикселя;
    6) частота обновления экрана (Гц);
    7) время отклика пикселей;
    8) угол обзора.
    Акустические колонки — устройство для вывода звуковой
    информации.
</p>
<h3>Задание 7. Ответьте на вопросы к тексту:</h3>
<p>
    1. На какие основные группы можно разделить клавиши?
    2. В чём заключается основное предназначение устройств
    ввода?
    3. Что является основным устройством ввода информации в
    компьютер?
    4. Для чего предназначена клавиша табуляции?
    5. Какое устройство преобразует аналоговые звуковые
    сигналы в двоичный код?
    6. К какому устройству подключается микрофон?
    7. С помощью каких клавиш можно удалять символы?
    8. Какая клавиша добавляет в текст «пустой символ»?
</p>
<h3>
    Задание 8. Закончите предложения, используя информацию
    текста:
</h3>
<p>
    1. Основным устройством ввода информации в компьютер
    является ... .
    2. Алфавитно-цифровые клавиши предназначены для ……..
    3. Управляющие клавиши предназначены для ........ .
    4. Мышь предназначена для ……..
    5. Устройство для перевода графической информации в
    цифровую ... ….
    6. Задача сканера – …....
    7. Акустические колонки служат для ……...
</p>
<h3>
    Задание 9. Прочитайте текст ещё раз, разделите его на смысловые
    части, дайте им название и запишите в форме плана.
</h3>
<p></p>
<h3>
    Задание 10. Прочитайте текст по частям и отметьте в каждой
    предложения, содержащие главную мысль.
</h3>
<p></p>
<h3>
    Задание 11. Расскажите об устройствах персонального компью-
    тера.
</h3>