@{
    ViewData["Title"] = "Название теста";
}
<h2 align="center">Название теста: </h2>
<p class="size_title_course site_padding">Цель работы: </p>
<table class="table table-striped">
    <tr>
        <td>
            <p>Задание 1. Прочитайте слова и словосочетания, запомните их значения:</p>
            @*В цикле вывести слова по теме:*@
        </td>
    </tr>
    <tr>
        <td>
            <p>Задание 2. Сгруппируйте однокоренные слова:</p>
            @*Выыод слов для группировки*@
            <p>Нажимайте на слова, чтобы выделять их цветом. Однокоренные слова должны иметь одинаковый цвет.</p>
            <table>
                <tr><td id="word0" onclick="colorWord()">информация</td><td id="word1" onclick="colorWord()">сбор</td><td id="word2" onclick="colorWord()">сохранять</td></tr>
                <tr><td id="word3" onclick="colorWord()">обрабатывать</td><td id="word4" onclick="colorWord()">решать</td><td id="word5" onclick="colorWord()">вычисление</td></tr>
                <tr><td id="word6" onclick="colorWord()">обработка</td><td id="word7" onclick="colorWord()">хранение</td><td id="word8" onclick="colorWord()">информационный</td></tr>
                <tr><td id="word9" onclick="colorWord()">решение</td><td id="word10" onclick="colorWord()">вычислять</td><td id="word11" onclick="colorWord()">обработанный</td></tr>
                <tr><td id="word12" onclick="colorWord()">хранить</td><td id="word13" onclick="colorWord()">информатика</td><td id="word14" onclick="colorWord()" >собирать</td></tr>
                <tr><td id="word15" onclick="colorWord()">сохранение</td><td></td><td></td></tr>
            </table>
            <p id="proverka" onclick="proverka(provarka)">Проверка</p>
        </td>
    </tr>
</table>
<script src="~/js/scriptTest.js"></script>