
@{
    ViewData["Title"] = "Test3Theme";
}

<h1>Test3Theme</h1>

<h3>
    Задание 1. Прочитайте слова и словосочетания, запомните их значения:
</h3>
<p>
<p>последовательность</p>
<p>последовательный вывод</p>
<p>вывод информации</p>
<p>аналоговый</p>
<p>
    аналоговая информация
</p>
<p>
    декодировать (что?)
</p>
<p>
    декодирование информации
</p>
<p>
    представлять, представить (что?)
</p>
<p>
    переводить (что?)
</p>
<p>
    представление информации
</p>
<p>
    перевод
</p>
<p>
    непрерывный
</p>
<p>
    дискретный
</p>
<p>
    кодировать (что?)
</p>
<p>
    кодирование информации
</p>
<p>
    перевод информации
</p>
<p>
    двоичный код
</p>
<p>
    цифра
</p>
<p>
    цифровая форма
</p>
</p>
<h3>Задание 2. Сгруппируйте однокоренные слова: </h3>
<p>
    информация, аналог, обрабатываться, закодированный,
    цифровой, решение, код, последовательный, информатика,
    записывать, обработка, цифра, кодирование, переводить,
    аналоговый, последовательность, решать, декодирование, перевод,
    запись.
</p>
<h3>
    Задание 3. От данных существительных образуйте прилагательные:
</h3>
<p>а) с помощью суффикса -ов-: аналог, цифра, код, смысл, байт;</p>
<p>
    б) с помощью суффикса -н-: последовательность, перевод,
    машина, компьютер, система.
</p>
<h3>Задание 4. Образуйте от данных глаголов существительные: </h3>
<p>
    а) с помощью суффиксов -ани(е); -ени(е): кодировать,
    обрабатывать, изображать, декодировать, использовать, запи-
    сывать, преобразовать, воспроизводить, представлять, хранить,
    вычислять;
</p>
<p>
    б) с помощью нулевого суффикса по образцу «записать –
    запись»: выводить, переводить, составить, собрать, передать,
    основать.
</p>
<h3>Задание 5. Замените данные предложения синонимичными. </h3>
<p>
    1. Процесс перевода двоичного кода на понятный нам язык
    называется декодированием информации.
</p>
<p>
    2. Запись информации в двоичных кодах называется кодированием.
</p>
<p>
    3. Запись музыки на магнитофонную ленту называется кодированием.
</p>
<p>4. Воспроизведение музыки называется декодированием.</p>
<p>
    <i>Образец:</i> Последовательность цифр 0 и 1 называется
    двоичным кодом. Последовательность цифр 0 и 1 – это двоичный
    код.
</p>
<h3>
    Задание 6. Прочитайте текст и постарайтесь понять его содержание.
</h3>
<p>
    Текст

    Информация бывает аналоговой и цифровой. В обычной
    жизни человек использует аналоговую информацию. Аналоговая
    информация непрерывна, а цифровая – дискретна. В настоящее
    время самым лучшим устройством переработки и хранения
    информации является компьютер. Как известно, информация в
    компьютере хранится и обрабатывается в цифровой форме.
    Для машинной обработки информацию нужно записывать,
    обозначая буквы цифрами, т. е. кодировать её. Все буквы, цифры,
    изображения и звуки ЭВМ переводит в последовательность двух
    цифр 0 и 1. Такая последовательность называется двоичным кодом.

    Кодирование информации 15
    Запись информации в двоичных кодах называется кодированием в
    двоичных кодах. Так как 8 двоичных символов составляют 1 байт,
    то говорят о системах «байтового» кодирования. Наиболее
    распространена система ASCII (American Standard Code for
    Information Interchange) (табл. 1).
    Например, в системе ASCII буква А кодируется как 11000000,
    а буква М – как 11001100, тогда слово МАМА кодируется
    последовательностью из 32 цифр:

    М А М А
    11001100 11000000 11001100 11000000
    При выводе информации компьютер её декодирует.
</p>
@*Опять таблица *@
Таблица 1

ASCII коды русских символов
<p>
    Декодирование информации – это преобразование информации из двоичного кода в вид, понятный человеку.
    Кодирование и декодирование информации в двоичных кодах
    компьютер делает автоматически.
</p>
<p>
    В жизни мы часто встречаемся с кодированием и деко-
    дированием информации. Например, запись музыки на компакт-диск – это кодирование, а воспроизведение музыки – это
    декодирование.
</p>
<h3>
    Задание 7. Определите, какая информация прочитанного текста вам уже известна. Прочитайте её.
</h3>
<h3>
    Задание 8. Определите, какие новые понятия рассматриваются в
    тексте. Назовите их.
</h3>
<h3>
    Задание 9. Прочитайте ту часть текста, в которой написано о
    связях между новыми понятиями.
</h3>
<h3>
    Задание 10. Вставьте вместо точек глаголы, данные под чертой, в
    нужной форме:
</h3>
<p>
    1. Информация в компьютере ……... и ……... в цифровой
    форме.
    2. Все буквы, цифры, изображения и звуки ЭВМ …………... в
    последовательность цифр 0 и 1.
    3. Такая последовательность …………... двоичным кодом.
    4. Запись информации в двоичных кодах …….…
    кодированием в двоичных кодах.
    5. При выводе информации компьютер её ........................ .
    6. Декодирование информации – это …………... информации
    из двоичного кода в вид, понятный человеку.
</p>
<p>
    Переводить, хранить, называть, декодировать, обрабатывать,
    преобразовать.
</p>
<h3>Задание 11. Ответьте на вопросы: </h3>
<p>
    1. Какого типа бывает информация?
    2. В какой форме хранится и обрабатывается информация в
    компьютере?
    3. Что характеризует аналоговую информацию?
    4. Что характеризует дискретную информацию?
    5. Что называется кодированием?
    6. Что называется декодированием?
    7. Как происходит кодирование и декодирование в двоичных
    кодах?
    8. Как называется процесс записи музыки на компакт-диск?
    9. Как называется процесс воспроизведения музыки?
</p>
<h3>
    Задание 12. Разделите текст на части в соответствии с данным планом.
</h3>
<p>
    1. Форма хранения и обработки информации в компьютере.
    2. Двоичный код.
    3. Кодирование.
    4. Декодирование.
    5. Примеры кодирования и декодирования информации в
    жизни.
</p>
<h3>Задание 13. Закодируйте и декодируйте слова: </h3>
<p>
    информатика, бит, байт, папа, количество, слово, код.
    Образец: 1) кодирование: мир – 11001100 00010000 11010000;
    2) декодирование: 11001010 11001110 11010010 – кот.
    Код: 11010010 … 11000101 ... 11001010 … 11010001 …
    11010010 … 11010110 … 11001000 … 11010100 … 11010000 …
    11000000 … 11010100 … 11001110 … 11010000 … 11001100 …
    11000000
</p>
<h3>
    Задание 14. Расскажите полученную из текста информацию по
    плану задания 12 с использованием примеров задания 13.
</h3>