<html>
<body>
<script src="~/js/scriptTestPrilSuch.js"></script>
<script src="~/js/scriptTestColor.js"></script>
<script src="~/js/scriptTestSelect.js"></script>
<script src="~/js/scriptProverka.js"></script>
<script src="~/js/test.js"></script>
<script>
window.onload = function(){
test1();
test2();
test3();
}
</script>
</body>
</html>