
@{
    ViewData["Title"] = "Test5Theme";
}

<h1>Test5Theme</h1>

<h3>
    Задание 1. Прочитайте слова и словосочетания, запомните их
    значения:
</h3>
<p>
    блок
    клавиатура
    системный блок
    мышь
    накапливать (что?)
    сканер
    накопитель
    микрофон
    магнитный диск
    монитор
    компакт-диск
    принтер
    дискета
    графическая информация
    дисковод
    текстовая информация
    акустические колонки
    шина
</p>
<h3>Задание 2. Сгруппируйте однокоренные слова:</h3>
<p>
    диск, ввод, накопитель, основной, выводить, вводить, основа,
    системный, подключать, текстовый, графический, дискета, инфор-
    мация, внутри, накапливать, хранение, система, подключение,
    графика, вывод, текст, внутренний, дисковод, информационный,
    хранить.
</p>
<h3>Задание 3. Замените данные предложения синонимичными.</h3>
<p>
    1. Клавиатура – это устройство для ввода символьной
    информации в компьютер.
    2. Мышь – это устройство, которое помогает вводить инфор-
    мацию в компьютер.
    3. Микрофон – это устройство для ввода в компьютер зву-
    ковой информации.
    4. Сканер – это устройство для ввода в компьютер гра-
    фической информации.
    5. Монитор – это устройство вывода информации на экран.
    6. Акустические колонки – это устройство для вывода
    звуковой информации.
    7. Принтер – это устройство для вывода на печать текстовой и
    графической информации.
    8. Шина – это набор проводов, по которым происходит обмен
    данными между устройствами компьютера.
    Образец: Системный блок – это главный блок в компьютере.
    Системный блок является главным блоком в компьютере.
</p>
<h3>
    Задание 4. Образуйте словосочетания с данными словами (при
    затруднении используйте текст):
</h3>
<p>
    память, накопитель, диск, устройство, внутренний, ввод,
    вывод, информация, обмен, флэш-карта, внешний.
</p>
<h3>
    Задание 5. Прочитайте текст и постарайтесь понять его содер-
    жание.
</h3>
<p>
    Текст

    Системный блок является главным блоком в компьютере. Он
    содержит процессор, внутреннюю память, внешнюю память и
    специальные устройства: видеокарту, звуковую карту, модем,
    сетевую карту.
    К системному блоку компьютера с помощью кабелей можно
    подключить различные устройства ввода-вывода информации,
    такие устройства называются периферийными устройствами.
    Устройства ввода кодируют информацию путем ее перевода
    из аналогового вида в цифровой.
    Клавиатура – это устройство для ввода символьной инфор-
    мации в компьютер.
    Мышь – это устройство, которое помогает вводить инфор-
    мацию в компьютер.
    Микрофон – это устройство для ввода в компьютер звуковой
    информации.
    Сканер – это устройство для ввода в компьютер графической
    информации.
    Устройства вывода декодируют информацию из цифрового
    вида в аналоговый.
    Монитор – это устройство вывода информации на экран.
    Акустические колонки – это устройство для вывода звуковой
    информации.
    Принтер – это устройство для печати текстовой и графи-
    ческой информации.
</p>
<h3>Задание 6. Закончите предложения:</h3>
<p>
    1. Персональный компьютер состоит …………….. .
    2. Системный блок является ……………... .
    3. Дисковод предназначен для ……………….. .
    4. CD-дисковод предназначен ……………….... .
    5. К системному блоку с помощью кабелей можно подклю-
    чить …………………
</p>
<h3>
    Задание 7. Вместо точек вставьте глаголы, данные под чертой, в
    нужной форме:
</h3>
<p>
    1. Системный блок ……... главным блоком в компьютере.
    2. Дисковод – это устройство для ....... информации с дискет.
    3. К системному блоку компьютера с помощью кабелей можно
    ......... различные устройства ввода-вывода информации.
    4. Системный блок …... процессор, внутреннюю память и
    устройства внешней памяти.
    Подключать, читать, записывать, содержать, являться.
</p>
<h3>
    Задание 8. Прочитайте текст ещё раз, поставьте вопросы к тексту
    в нужном порядке:
</h3>
<p>
    1. Какие устройства можно подключить к системному блоку?
    2. Что относится к устройствам внешней памяти?
    3. Что содержит системный блок?
    4. С помощью чего подключаются устройства к системному
    блоку?
    5. Что относится к основным устройствам компьютера?
    6. Какой блок в компьютере является главным?
</p>
<h3>
    Задание 9. Разделите текст на смысловые части, дайте название
    каждой из них и запишите в форме плана.
</h3>
<h3>
    Задание 10. Заполните данную таблицу, правильно распределяя
    перечисленные устройства по их видам:
</h3>
<p>
    СD-ROM, DVD, модем, звуковая карта, клавиатура, мышь,
    проектор, принтер, сканер, монитор, сетевая карта, звуковая карта,
    факс-модем, TV-тюнер, джойстик, видеокамера.
</p>
@*Таблица для заполнения*@
<h3>
    Задание 11. Расскажите об основных устройствах персонального
    компьютера, используя план и таблицу задания 10.
</h3>