@{
    ViewData["Title"] = "Название теста";
}
<h2 align="center">Название теста: </h2>
<p class="size_title_course site_padding">Цель работы: </p>
<table class="table table-striped">
    <tr>
        <td>
            <p>Задание 1. Прочитайте слова и словосочетания, запомните их значения:</p>
            @*В цикле вывести слова по теме:*@
        </td>
    </tr>
    <tr>
        <td>
            <p>Задание 2. Сгруппируйте однокоренные слова:</p>
            @*Выыод слов для группировки*@
            <p>Нажимайте на слова, чтобы выделять их цветом. Однокоренные слова должны иметь одинаковый цвет.</p>
            <p>информация</p>
        </td>
    </tr>
</table>

<form>
    <button></button>
    </form>
<script src="~/js/scriptTest.js"></script>