@model ThemeViewModel;
@{
    ViewData["Title"] = Model.Themename;
}
 <link href="~/css/sytecss.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/syteCssTableButton.css">
@*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
<h1 id="Theme">@Model.Themename</h1>
<script src="~/js/scriptVhod.js" async></script>
<script src="~/js/scriptOnload.js" async></script>
<p class="text_zadanie site_padding">Цель работы: @Model.Goal</p>

<div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button" onclick="openTask('Task1')">Задание 1</button>
    <button class="w3-bar-item w3-button" onclick="openTask('Task2')">Задание 2</button>
    <button class="w3-bar-item w3-button" onclick="openTask('Task3')">Задание 3</button>
    <button class="w3-bar-item w3-button" onclick="openTask('Task4')">Задание 4</button>
    <button class="w3-bar-item w3-button" onclick="openTask('Task5')">Задание 5</button>
    <button class="w3-bar-item w3-button" onclick="openTask('Task6')">Задание 6</button>
    <button class="w3-bar-item w3-button" onclick="openTask('Task7')">Задание 7</button>
    <button class="w3-bar-item w3-button" onclick="openTask('Task8')">Задание 8</button>
    <button class="w3-bar-item w3-button" onclick="openTask('Task9')">Задание 9</button>
    <button class="w3-bar-item w3-button" onclick="openTask('Task10')">Задание 10</button>
    <button class="w3-bar-item w3-button" onclick="openTask('Task11')">Задание 11</button>
    <button class="w3-bar-item w3-button" onclick="openTask('Task12')">Задание 12</button>
	<button type="submit" class="btn btn-primary" onclick="proverka()">Проверка</button>
</div>
<div id="Task1" class="task">
<p class="text_zadanie">
        Задание 1. Прочитайте слова и словосочетания, запомните их значения:
    </p>
    <p>
        обеспечивать (что?)
        специальная программа
        обеспечение
        среда программирования
        программировать (что?)
        система
        программное обеспечение
        операционная система
        программирование
        редактировать (что?)
        служебная программа
        редактор
        прикладная программа
        текстовый редактор
        драйвер
        интерфейс
    </p>
</div>

<div id="Task2" class="task" style="display:none">
<p class="text_zadanie">Задание 2. Сгруппируйте однокоренные слова:</p>
    <p>
        офис, графика, операция, система, служебный, драйвер,
        прикладывать, обеспечение, программа, команда, обслуживание,
        приложение, обслуживать, обеспечивает, программирование,
        обслуживающее, системный, офисный, командовать, прикладной,
        драйверный, графический, оперативный.
    </p>
</div>

<div id="Task3" class="task" style="display:none">
<p class="text_zadanie">Задание 3. Образуйте существительные от глаголов по образцу:</p>
    <p>
        а) разработать, собрать.
        Образец: обработать – обработка;
        б) запускать, записать, переносить, обменять.
        Образец: набрать – набор;
        в) преобразовать, преобразование, функционировать, выполнить, обеспечить, решить, управлять.
        Образец: хранить – хранение.
    </p>
</div>
<div id="Task4" class="task" style="display:none">
<p class="text_zadanie">Задание 4. Образуйте причастия от данных глаголов по образцу.</p>
    <p>
        а) записывать, распределять, обеспечивать, управлять.
        Образец: работать – работающий (компьютер), работающее
        (устройство), работающая (аппаратура), работающие (компьютеры);
        б) разработать, разделить, распределить, выполнить.
        Образец: собрать – собран, собрана, собрано, собраны.
        Предназначить – предназначен, предназначена, предназначено, предназначены.
    </p>
</div>
<div id="Task5" class="task" style="display:none">
<p class="text_zadanie">
        Задание 5. Образуйте существительные от прилагательных по образцу:
    </p>
    <p>
        последовательный, системный, возможный, способный,
        известный.
        Образец: конкретный – конкретность.
    </p>
</div>

<div id="Task6" class="task" style="display:none">
<p class="text_zadanie">Задание 6. Прочитайте текст, постарайтесь понять его содержание.</p>
    <p>
      
    </p>
</div>
<div id="Task7" class="task" style="display:none">
<p class="text_zadanie">Задание 7. Найдите в тексте ответы на вопросы:</p>
    <p>
        1. Что такое программа?
        2. Что такое программное обеспечение?
        3. Что такое среда для разработки программ?
        4. Что называется операционной системой?
        5. Какие функции выполняет операционная система?
        6. Что такое системное программное обеспечение?
        7. Что такое драйвер?
    </p>
</div>
<div id="Task8" class="task" style="display:none">
<p class="text_zadanie">
        Задание 8. Ответьте на вопросы (при затруднении обращайтесь к тексту):
    </p>
    <p>
        1. Для чего предназначена программа компьютера?
        2. Назовите классы программ?
        3. Для чего предназначено системное ПО?
        4. Для чего предназначено прикладное ПО?
        5. Для чего предназначены компьютерные среды?
        6. Для чего предназначена операционная система?
        7. Назовите составные части прикладного ПО.
        8. Назовите составные части системного ПО.
        9. Назовите составные части сред для разработки программ.
    </p>
</div>
<div id="Task9" class="task" style="display:none">
<p class="text_zadanie">Задание 9. Расскажите о наборе программ компьютера.</p>
    <p></p>
</div>

<div id="Task10" class="task" style="display:none">
<p class="text_zadanie">Задание 10. Расскажите об операционной системе компьютера.</p>
    <p></p>
</div>
<div id="Task11" class="task" style="display:none">
<p class="text_zadanie">
        Задание 11. Расскажите о подсистемах операционной системы компьютера.
    </p>
    <p></p>
</div>
<div id="Task12" class="task" style="display:none">
<p class="text_zadanie">
        Задание 12. Расскажите ту информацию из текста, которую вы запомнили.
    </p>
    <p></p>
</div>
<script>
    function openTab(tabName) {
        var i;
        var x = document.getElementsByClassName("task");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
    }
</script>
<script src="~/js/scriptTestPrilSuch.js"></script>
<script src="~/js/scriptTestColor.js"></script>
<script src="~/js/scriptTestSelect.js"></script>
<script src="~/js/scriptProverka.js"></script>