@model ThemeViewModel;
@{
    ViewData["Title"] = Model.Themename;
}

<h1>Model.Themename</h1>

<p class="text_zadanie site_padding">Цель работы: @Model.Goal</p>

<h3>
    Задание 1. Прочитайте слова и словосочетания, запомните их
    значения:
</h3>
<p>
    процессор
    устройство
    шина
    оперативное запоминающее устройство
    управлять (чем?)
    постоянное запоминающее устройство
    память
    устройство вывода
    внутренняя память
    устройство ввода
    оперативная память
    вводить, ввести (что?)
    постоянная память
    выводить, вывести (что?)
    внешняя память
    программа
</p>
<h3>
    Задание 2. Замените глаголы из задания 1 на однокоренные
    существительные.
</h3>
<p>Образец: вводить – ввод.</p>
<h3>Задание 3. Сгруппируйте однокоренные слова:</h3>
<p>
    ввод, центральный, обрабатывать, выводить, вывод, вводить,
    центр, обработка, работа, информация, внутри, обмен, хранение,
    работать, внутренний, обменивать, информационный, хранить.
</p>
<h3>Задание 4. Замените данные предложения синонимичными.</h3>
<p>
    1. Процессор, память, устройства ввода и устройства выво-
    да – это основные устройства компьютера.
    2. Процессор – это центральное устройство ЭВМ.
    3. Внешняя память – это устройство для хранения данных без
    электропитания.
    4. Устройства ввода – это устройства, предназначенные для
    ввода информации.
    5. Устройства вывода – это устройства, предназначенные для
    вывода информации.
    Образец: Шина – это набор проводов, по которым происходит
    обмен информацией между устройствами компьютера. Шиной
    называется набор проводов, по которым происходит обмен
    информацией между устройствами компьютера.
</p>
<h3>
    Задание 5. Прочитайте текст и постарайтесь понять его содер-
    жание.
</h3>
<p>
    Все компьютеры состоят из одинаковых основных устройств:
    процессора, памяти, устройства ввода и устройства вывода.
    Обработка информации выполняется процессором.
    Процессор – это центральное устройство ЭВМ.
    Существует внутренняя и внешняя память компьютера.
    Внутренняя память используется для временного хранения данных
    и программ, внешняя – для долговременного их хранения. Память
    компьютера дискретна.
    Внутренняя память компьютера предназначена для опера-
    тивной обработки данных. Она является более быстрой, чем
    внешняя память. Выделяют следующие виды внутренней памяти:
    • оперативная. В неё помещаются программы и данные. Она
    обладает большим быстродействием и является энерго-зависимой.
    Обозначается RAM (Random Access Memory) – память с
    произвольным доступом. Иначе оперативную память называют
    оперативным запоминающим устройством (ОЗУ);
    • постоянная память (Basic Input-Output System – BIOS) –
    содержит программы для управления компьютером. Обозначается
    ROM (Read Only Memory). Иначе постоянную память называют
    постоянным запоминающим устройством (ПЗУ).
    Внешняя память предназначена для длительного хранения
    программ и данных. Это память большого объёма, но низкого быстродействия. Она представлена в основном магнитными и
    оптическими носителями.
    В состав внешней памяти компьютера входят:
     жёсткие диски;
     лазерные диски (компакт-диски объёмом 700 Мегабайт);
     DVD-диски (объёмом 4,7... 9,4 Гигабайт);
     Flash-карты (USB flash drive объёмом до 12 Гигабайт).
    Человек вводит данные в компьютер через устройства ввода
    (клавиатура, мышь, сканер, микрофон), а получает результат обра-
    ботки через устройства вывода (монитор, принтер, акустические
    колонки).
    Шина – это набор проводов, по которым происходит обмен
    информацией между устройствами компьютера.
</p>
<h3>Задание 6. Ответьте на вопросы:</h3>
<p>
    1. Что относится к основным устройствам компьютера?
    2. Что является центральным устройством компьютера?
    3. Что делает процессор?
    4. Из чего состоит внутренняя память?
    5. Каково назначение ОЗУ?
    6. Каково назначение ПЗУ?
    7. Для чего предназначена шина?
</p>
<h3>Задание 7. Закончите предложения:</h3>
<p>
    1. Обработка информации выполняется ..................... .
    2. Процессор, память, устройства ввода и устройства выво-
    да – это ……………….. .
    3. Процессор – это ................ устройство ЭВМ.
    4. Данные и программы во время работы компьютера хранятся
    в ……………... .
    5. Человек вводит данные в компьютер через ……………... .
    6. Устройства вывода – ............... .
    7. Шина – это набор проводов, по которым …………... .
</p>
<h3>Задание 8. Определите вид памяти (ОЗУ, ПЗУ, внешняя):</h3>
<p>
    1) малого объёма, данные стираются при выключении
    компьютера;
    2) хранит информацию постоянно;
    3) большего объёма, данные сохраняются при выключении
    компьютера;
    4) малого объёма, данные хранятся постоянно;
    5) не хранит информацию при отсутствии электропитания.
</p>
<h3>
    Задание 9. Соедините линиями название устройства и действие,
    которое оно выполняет.
</h3>
