
@{
    ViewData["Title"] = "EditSite";
}

@model SiteModel
@using( Html.BeginForm( "EditSite", "WebSites", FormMethod.Post ) )
{
    <fieldset>
        @Html.HiddenFor( m => m.id )
        <p>
            @Html.LabelFor( m => m.url, "Адрес сайта" )
            <br />
            @Html.EditorFor( m => m.url )
            <span asp-validation-for="url"></span><br>
        </p>
        <input type="submit" value="Отправить" />
    </fieldset>
}