
@{
    ViewData["Title"] = "Register";
}
@model RegisterViewModel
<link href="~/css/LoginStyle.css" rel="stylesheet" type="text/css" />
<h1>Страница регистрации</h1>

<div class="logincontainer">

    <form asp-action="register" method="post">
        <label>Имя пользователя (логин):</label>
        <input type="text" asp-for="user.Login" placeholder="Введите имя пользователя">
        <span asp-validation-for="user.Login"></span><br>
        <label>E-mail: </label>
        <input type="text" asp-for="user.Email" placeholder="E-mail">
        <span asp-validation-for="user.Email"></span><br>
        <label>Пароль: </label>
        <input type="password" asp-for="user.Password" placeholder="Пароль">
        <span asp-validation-for="user.Password"></span><br>
        <label>Вы преподаватель?</label>
        <select asp-for="user.Role">
            <option>Преподаватель</option>
            <option>Студент</option>
        </select>
        <button type="submit" class="btn btn-primary" asp-controller="Welcome" asp-action="Register">Подтвердить</button><br>
    </form>
</div>
<p align="right"><a asp-action="Login" asp-controller="Welcome">Обратно к странице входа</a></p>