.size_number_courses {
    font-size: medium;
}
.size_text_courses {
    font-size: xx-large;
    text-align: center;
}
p.site_titletema {
    text-align: center;
}
p.size_text_course {
    font-size: x-large;
    text-align: left;
}
p.size_title_course {
    font-size: x-large;
    text-align: left;
}
.site_padding {
    padding-left: 20px;
    margin: 0;
}

div.courses {
    border: 1px solid #dee2e6;
    margin-top: 5px;
}

li.courses {

    border: 1px solid #dee2e6;
    margin-top: 5px;
}

li {
    list-style: none;
}

ul.my_padding{
    padding: 0;
}
.position_display {
    display: inline;
}
.po-right {
    text-align: right;
}
.text_test {
    font-size: xx-large;
    text-align: left;
    text-indent: 1.5em;
}

.text_zadanie {
    font-size: x-large;
    text-align: left;
    font-weight: 600;
}
body {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.taskTab{
    padding: 5% 5% 5% 5%;
}

input[type=text], input[type=password] {
    width: 100%;

    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.not_select_text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}