p.size_number_courses {
    font-size: small;
}
p.size_text_courses {
    font-size: x-large;
    text-align: center;
}
p.site_titletema {
    text-align: center;
}
p.size_text_course {
    font-size: medium;
    text-align: left;
}
p.size_title_course {
    font-size: large;
    text-align: left;
}
.site_padding {
    padding-left: 20px;
    margin: 0;
}

div.courses {
    border: 1px solid #dee2e6;
    margin-top: 5px;
}

li.courses {

    border: 1px solid #dee2e6;
    margin-top: 5px;
}

li {
    list-style: none;
}

ul.my_padding{
    padding: 0;
}

